html {
    background-color: #D4DDED;
    text-align: center;
    
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div {
    width: 50%;
}